:root {
    --main-color: rgb(82, 82, 82);
    --sec-color: rgb(27, 27, 27);
    --ter-color: rgb(233, 233, 233);
}

body {

    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;

    position:relative;

    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    background-color: white;

    overflow: hidden;

}

#main-wave, #sec-wave {
    background-color: var(--main-color);
    overflow: hidden;
}

#space-wave {
    background-color: white;
}

.wave {

    overflow: hidden;
    position: fixed;
    border-radius: 99999px;
    transition: 1s ease-in-out;

}

.wave-step1 {

    top: 50vh;
    left: 20vw;
    width: 0vw;
    height: 0vw;

}

.wave-step2 {

    top: calc(50vh - 40vw);
    left: calc(20vw - 40vw);
    width: 80vw;
    height: 80vw;

}

.wave-step3 {

    top: calc(50vh - 110vw);
    left: calc(20vw - 110vw);
    width: 220vw;
    height: 220vw;

}

#photo-space-wave {
    position: absolute;
    background: var(--ter-color);
}

#photo-main-wave {
    position: absolute;
}

#photo-main-wave > img {

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-45%, -50%) scale(.8);


}

.photo-wave-step1 {

    top: 50%;
    left: calc(50% + 50vw);
    width: 0vw;
    height: 0vw;
    transform: translate(-50%, -50%);

}

.photo-wave-step2 {

    top: 50%;
    left: calc(50% + 50vw);
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);

}

#main-page {
    position:absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#presentation {

    position:absolute;
    top: 50%;
    left: calc(50% - 25vh);
    transition: 0.5s ease-in-out;
    
}

.presentation-hidden {
    transform: translate(0, 50%);
    opacity: 0;
}

.presentation-showed {
    transform: translate(0, -50%);
    opacity: 100%;
}

#about {

    width:40vw;
    min-width:530px;
    position:absolute;
    top: 50%;
    left: 50%;
    transition: 1.2s ease-in-out;
    font-size: large;
    color: var(--ter-color);
    text-align: justify;
    
}

.about-hidden {
    transform: translate(-35%, -150%);
    opacity: 0;
}

.about-showed {
    transform: translate(-35%, -50%);
    opacity: 100%;
}

#text {
    font-size: xx-large;
    color: white;
    white-space: nowrap;
    font-weight: bold;
}

#buttons {

    display: flex;
    justify-content: center;

}

.button {

    cursor: pointer;
    padding: 10px;
    margin: 20px;
    font-size: large;
    background-color: var(--ter-color);
    border-radius: 5px;
    color: var(--main-color);
    transition: 0.2s ease-in-out background-color;

}

.button:hover {

    background-color: var(--sec-color);
    color:var(--ter-color);

}

.navigation {

    position:fixed;
    left:75%;
    top:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1.5s ease-in-out;

}

#about-navigation {
    opacity: 100%;
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    left:0;
    top:0;
    transform: translate(0, 0);
}

#about-navigation .nav-button {
    font-size: large;
    margin-bottom: 0px;
}

#about-navigation .nav-text {

    background-color: var(--ter-color);
    color: var(--sec-color)

}

#about-navigation .nav-arrow {

    color: var(--ter-color)

}

#about-navigation .nav-text:hover {

    background-color: var(--sec-color);
    color: var(--ter-color)

}

#project-navigation {
    width: 700px;
    position: absolute;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    left:calc(50% - 10vw);
    top:calc(50% + 40vh);
    transform: translate(0, -50%);
}

#project-navigation .nav-button {
    font-size: x-large;
    margin-bottom: 0px;
}

#project-navigation .nav-text {

    background-color: var(--ter-color);
    color: var(--sec-color)

}

#project-navigation .nav-arrow {

    color: var(--ter-color)

}

#project-navigation .nav-text:hover {

    background-color: var(--sec-color);
    color: var(--ter-color)

}

#skill-navigation {
    opacity: 100%;
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    left:0;
    top:0;
    transform: translate(0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
}

#skill-navigation .nav-button {
    font-size: large;
    margin-bottom: 0px;
}

#skill-navigation .nav-text {

    background-color: var(--main-color);
    color: var(--ter-color);
    margin-left: 10px;

}

#skill-navigation .nav-arrow {

    color: var(--main-color);
    
}

#skill-navigation .nav-text:hover {

    background-color: var(--sec-color);

}

.nav-button {

    display: flex;
    justify-content: left;
    font-size: x-large;
    margin-bottom: 40px;

}

.nav-text:hover {

    background-color: var(--sec-color);

}

.nav-text {
    margin-left: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color);
    color:white;
    border-radius: 5px;
    padding-left:15px;
    padding-right:15px;
    cursor:pointer;
    transition: .5s ease-in-out background-color;
}

.nav-arrow {

    font-size: 30px;
    color: var(--main-color);
    transition: .7s ease-in-out transform;
    transform-origin: 40% 46%;
    transform: rotate(-90deg);

}

.rotate-nav-arrow {

    transform: rotate(360deg);

}

@keyframes coucou-animation {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(30deg)}
}

.coucou {
    cursor: default;
    display:inline-block;
    transform: rotate(0deg);
    transform-origin: 80% 80%;
    animation: coucou-animation .8s infinite ease-in-out alternate;
    animation-play-state: paused;
}

.coucou:hover {
    animation-play-state: running;
}

strong {

    color: var(--sec-color);
    font-weight: bold;

}

#code-box {

    height: 70vh;
    width: 30vw;
    position: absolute;
    top:50%;
    left:calc(50% + 5vw);
    background-color: var(--main-color);
    border-radius: 10px;
    transition: .5s ease-in-out;
    display: flex;
    flex-direction:column;
    overflow: hidden;
    box-shadow: 0px 0px 16px 10px rgba(0,0,0,0.79);

}

.code-box-hidden {

    opacity: 0;
    transform: translate(-50%, -80%);

}

.code-box-showed {

    opacity: 100%;
    transform: translate(-50%, -50%);

}

#code-area {
    flex: 1 1 auto;
    background-color: var(--sec-color);
    font-family: unset;
    color: var(--ter-color);
    border: unset;
    border-radius: unset;
    resize: none;
    outline: none;
    white-space: nowrap;
}

#code-area:focus {
    border: unset;
    border-radius: unset;
    outline: none;
}

#code-box-controls {
    width: 100%;
    color: var(--ter-color);
    display:flex;
}

.code-box-button {
    padding-top:20px;
    padding-bottom:20px;
    font-size: x-large;
    text-align: center;
    flex: 1 1 auto;
    cursor: pointer;
    color: var(--ter-color);
    transition: 0.2s ease-in-out;
}

.code-box-button:hover {
    padding-top:20px;
    padding-bottom:20px;
    font-size: x-large;
    text-align: center;
    flex: 1 1 auto;
    cursor: pointer;
    background-color: var(--sec-color);
}

#code-result {

    flex: 1 1 auto;
    border-radius: 10px;
    border: var(--sec-color) 3px dashed;
    overflow: hidden;

}

#code-container {

    width: 40vw;
    height: 70vh;
    display:flex;
    flex-direction: column;
    position: absolute;
    top:50%;
    left:calc(50% + 45vw);
    transition: .5s ease-in-out;

}

.code-container-hidden {

    opacity: 0;
    transform: translate(-50%, -80%);

}

.code-container-showed {

    opacity: 100%;
    transform: translate(-50%, -50%);

}

#project-container {

    position:absolute;
    top:50%;
    left:calc(50% - 10vw);
    transform: translate(0, -50%);
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    transition: .2s ease-in-out;

}

#project-categories {

    display: flex;
    height: 60px;
    flex: 0 1 60px;
    overflow-y: auto;

}

.project-category {

    background-color: var(--main-color);
    color: var(--ter-color);
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: .2s ease-in-out;
    text-align: center;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;

}

.project-category:hover {

    background-color: var(--ter-color);
    color: var(--main-color);

}

.project-category-selected {

    background-color: var(--ter-color);
    color: var(--main-color);

}

#project-card-container {

    width:100%;
    flex: 1 1 auto;
    background-color: var(--ter-color);
    position:relative;
    overflow: auto;
    height:100%;

}

.project-content {

    position:absolute;
    top:0;
    left:0;
    display: none;
    width: 100%;
    

}

.project-content-selected {
    display: block;
}

.project-card {

    display:flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .2s ease-in-out;
    margin-top: 20px;
    margin-bottom: 20px;

}

.project-description > h1 {

    margin: 0;
    padding: 0;
    margin-top: 20px;

}

.project-description > p {

    margin:0;
    padding:0;
    margin-bottom: 20px;

}

.selectable-card {

    cursor: pointer;

}

.selectable-card:hover {
    box-shadow: 5px 5px 15px 5px #000000;
}

.project-card > img {

    flex: 0 1 auto;
    position:relative;
    height: 100px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;

}

.project-description {
    text-align: justify;
    margin-right: 20px;
    flex: 1 1 auto;
}

#project-title {

    transition: .2s ease-in-out;
    position: absolute;
    top:calc(50% - 40vh);
    left:calc(50% - 10vw);
    transform: translate(0, -50%);
    color: var(--ter-color);

}

.project-hidden {

    transform: translate(0,-75%);
    opacity: 0%;

}

.project-showed {

    transform: translate(0,0);
    opacity: 100%;

}

.contact-hidden {
    display:none;
}

#contact-container {

    position:fixed;
    top:50vh;
    left:20vw;
    transform: translate(-50%, -50%);
    color:var(--main-color);
    font-size: x-large;

}

#contact-title {
    text-align: center;
}

#contact-title > h1 {
    margin:0;
    padding: 0;
    margin-bottom: 10px;
}

#contact-email {
    text-align: center;
    margin-bottom: 10px;
}

#contact-icons {

    display:flex;
    flex-wrap: wrap;
    width: 200px;
    font-size:50px;
    margin:auto;

}

.fa {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-bottom: 20px;
    color:var(--main-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.fa-linkedin:hover {
    color: #007bb5;
}

.fa-facebook:hover {
    color: #3B5998;
}

.fa-youtube-play:hover {
    color: #ff0000;
}

.fa-twitter:hover {
    color: #55ACEE;
}

.fa-twitch:hover {
    color: #772ce8;
}

.fa-instagram:hover {
    color: #f25b10;
}

.fa-github:hover {
    color: #24292e;
}

.fa-deviantart:hover {
    color: #00e59b;
}

#contact-button {

    width: fit-content;
    margin:auto;
    background-color: var(--main-color);
    color: var(--ter-color);
    font-size: inherit;

}

#contact-button:hover {

    background-color: var(--sec-color);

}

#more-links {
    text-align: center;
    margin:auto;
    margin-bottom: 10px;
}

a {
    text-decoration: unset;
    color:unset;
    transition: .2s ease-in-out;
    display:block;
}

a:visited {
    color:unset;
}

a:hover {
    color: var(--sec-color);
}

@media screen and (max-width: 1000px) and (orientation: portrait), screen and (min-width: 1000px) and (max-width: 1100px) and (orientation: landscape) {
    
    .wave-step1 {

        top: 25vh;
        left: 50vw;
        width: 0vh;
        height: 0vh;
    
    }
    
    .wave-step2 {
    
        top: calc(25vh - 50vh);
        left: calc(50vw - 50vh);
        width: 100vh;
        height: 100vh;
    
    }
    
    .wave-step3 {
    
        top: calc(25vh - 100vh);
        left: calc(50vw - 100vh);
        width: 200vh;
        height: 200vh;
    
    }

    #presentation {

        top: 50%;
        left: 50%;
        
    }

    .button {
        font-size: 4vw;
    }

    h1 {
        font-size: 5vw;
    }

    .section {
        font-size: 3vw;
    }

    #presentation > #text {

        font-size: 4vw;
        
    }

    .project-category {
        font-size: 3.5vw;
    }

    #about-navigation .nav-text {

        font-size: 3.5vw;
        
    }

    #skill-navigation .nav-text {

        font-size: 3.5vw;
        
    }

    #project-card-container p {
        font-size: 3.5vw;
    }

    .presentation-hidden {
        transform: translate(-50%, 50%);
    }
    
    .presentation-showed {
        transform: translate(-50%, -50%);
    }

    .navigation {

        left:50%;
        height: fit-content;
        width: 80vw;
        top:90%;
        transform: translate(-50%, -50%);
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    
    }

    .navigation .nav-text {
        font-size: 4vw;
    }

    .navigation .nav-arrow {
        display: none;
    }

    #contact-container {

        position:fixed;
        top:25vh;
        left:50vw;
        transform: translate(-50%, -50%);
        color:var(--main-color);
        font-size: x-large;
    
    }

    .photo-wave-step1 {

        top: calc(50% + 50vh);
        left: 50%;
        width: 0vw;
        height: 0vw;
        transform: translate(-50%, -50%);
    
    }
    
    .photo-wave-step2 {
    
        top: calc(50% + 50vh);
        left: 50%;
        width: 50vw;
        height: 50vw;
        transform: translate(-50%, -50%);
    
    }

    #about {

        width:80vw;
        top: calc(50% - 25vh);
        left: 50%;
        
    }
    
    .about-hidden {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
    
    .about-showed {
        transform: translate(-50%, 0);
        opacity: 100%;
    }

    #photo-main-wave > img {

        transform:translate(-48%, -47%) scale(10vw);
    
    }

    #code-box {

        height: 40vh;
        width: 80vw;
        top:50%;
        left:50%;
    
    }

    #code-container {

        height: 40vh;
        width: 80vw;
        top:calc(50% + 50vh);
        left:50%;
    
    }

    #project-container {

        top:calc(50% + 25vh);
        left:50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        height: 70vh;
    
    }

    #project-navigation {
        width: 90vw;
        left: 50%;
        top:calc(50% + 62vh);
        transform: translate(-50%, 0);
    }

    #project-title {

        top:calc(50% - 12vh);
        left:50%;
        transform: translate(-50%, -100%);
        color: var(--ter-color);
    
    }

    #contact-email, #more-links, #contact-button {

        font-size: 4vw;

    }

    #contact-icons {
        width: 320px;
        font-size:80px;
    }

    .fa {
        width: 80px;
        height: 80px;
    }

}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    
    .photo-wave-step1 {

        top: 50%;
        left: calc(50% + 60vw);
        width: 0vw;
        height: 0vw;
        transform: translate(-50%, -50%);
    
    }
    
    .photo-wave-step2 {
    
        top: 50%;
        left: calc(50% + 60vw);
        width: 50vh;
        height: 50vh;
        transform: translate(-50%, -50%);
    
    }

    #photo-main-wave > img {

        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-46%, -48%) scale(.5);
    
    
    }

    .navigation .nav-arrow {
        display: none;
    }

    #contact-container {

        top:50vh;
        left:24vw;
    
    }

    #text {
        font-size: 4vh;
    }

    #skill-navigation .nav-text {

        font-size: 2.8vh;

    }

}
